<html>
<head></head>
<body>
<h3>Your Facebook Information</h3>
<form id="graphForm" action="app.php" method="post">

    <div>
        <label>Facebook ID:</label><input type="text" name="fb_id" id="fb_id" value="{{id}}" size="30px" height="20px"/>
    </div>

    <div>
        <label>Name:</label><input type="text" name="name" id="name" value="{{name}}" size="30px" height="20px"/>
    </div>

    <div>
        <label>Gender:</label><input type="text" name="gender" id="gender" value="
        {% if gender is not defined and if gender is not empty %}
        {{gender}}
        {% endif %}
        " size="30px" height="20px"/>
    </div>

    <div>
        <label>User Name:</label><input type="text" name="username" id="username" value="{{username}}" size="30px" height="20px"/>
    </div>
    <div>
        <label>Facebook Link:</label><input type="text" name="fb_link" id="fb_link"  value="{{link}}" size="30px" height="20px"/>
        <input type="hidden" name="meta" id="meta"  value="{{meta}}" size="30px" height="20px"/>
    </div>

    <div>
        <input type="submit" name="submit" value="submit"/>
    </div>

    <input type="hidden" name="pagename" value="details"/>

</form>


</body>
</html>