<html>
<head></head>
<body>
<h3 style="color: green;">Your Facebook Information Succesfully inserted</h3>

<p>Facebook ID:{{id}}</p>
<p>Name:{{name}}</p>
<p>Gender:{{gender}}</p>
<p>Username:{{username}}</p>
<p>Facebook Link:{{link}}</p>
<p>Meta Data:{{meta}}</p>

</body>
</html>